body{
    background: #F3F4F6;
}
.header{
    border: 1px solid black;
    background: rgb(0, 0, 0);
    display: flex;
    align-items: center ;
}
.nav{
    display: flex;
    gap: 30px;
    margin-left: 20px;
    align-items: center;
    flex-wrap: nowrap;
}
.games button{
    background-color:black;
    text-decoration: none;
    font-size: 20px;
    color: white;
    border: none;
    font-family: "Cabin Sketch", sans-serif;
}
.table button{
    background-color:black;
    text-decoration: none;
    font-size: 20px;
    color: white;
    border: none;
    font-family: "Cabin Sketch", sans-serif;
}

.teams button{
    background-color:black;
    text-decoration: none;
    font-size: 20px;
    color: white;
    border: none;
    font-family: "Cabin Sketch", sans-serif;
}

.players button{
    background-color:black;
    text-decoration: none;
    font-size: 20px;
    color: white;
    border: none;
    font-family: "Cabin Sketch", sans-serif;
}
.games a{
    display:block ;
    color:aliceblue;
    text-decoration: none;
    padding: 10px;
}
.games .content1{
        display: none;
        position: absolute;
        background-color: black;
        min-width: 160px;
    }
.games:hover .content1{
        display: block;
    }
.table a{
    display:block ;
    color:aliceblue;
    text-decoration: none;
    padding: 10px;
    
}
.table .content2{
        display: none;
        position: absolute;
        background-color: black;
        min-width: 160px;
    }
.table:hover .content2{
        display: block;
    }
.table a{
    display:block ;
    color:aliceblue;
    text-decoration: none;
    padding: 10px;
}
.table .content2{
        display: none;
        position: absolute;
        background-color: black;
        min-width: 160px;
    }
.table:hover .content2{
        display: block;
    }
.teams a{
    display:block ;
    color:aliceblue;
    text-decoration: none;
    padding: 10px;
}
.teams .content3{
        display: none;
        position: absolute;
        background-color: black;
        min-width: 160px;
    }
.teams:hover .content3{
        display: block;
    }
.players a{
    display:block ;
    color:aliceblue;
    text-decoration: none;
    padding: 10px;
}
.players .content4{
        display: none;
        position: absolute;
        background-color: black;
        min-width: 160px;
    }
.players:hover .content4{
        display: block;
    }
.login button{
    background-color:black;
    text-decoration: none;
    font-size: 20px;
    color: white;
    border: none;
    font-family: "Cabin Sketch", sans-serif;
    cursor: pointer;
}
 .login a{
    display:block ;
    color:aliceblue;
    text-decoration: none;
    padding: 10px;
}
.login .content5{
        display: none;
        position: absolute;
        background-color: black;
        min-width: 160px;
    }
.login:hover .content5{
        display: block;
    }
.login{
    margin-left: auto;
    margin-right: 20px;
}
.hero{
    width: 100%;
    height: 150px;
    overflow: hidden;
    background-color: rgba(0, 0, 0, 0.397);
    position: relative;
}
.hero img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.hero::after{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
}
.hero-text{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: white;
    z-index: 10;
    width: 80%;
}
.hero-text h1{
    font-family: "Titan One", sans-serif;
    font-size: 60px;
    margin: 0;
    text-shadow: 3px 3px 10px rgba(0, 0, 0, 0.9);
    letter-spacing: 3px;
}
.hero-text p{
    font-size: 24px;
    margin-top: 15px;
    text-shadow: 2px 2px 8px rgba(0, 0, 0, 0.9);
    font-weight: 300;
    letter-spacing: 1px;
}
.login{
    margin-left: auto;
}
.news-item img{
    width: 100%;
    height: 70%;  
    object-fit: cover;
    
}
.news{
 font-family: "Roboto Slab", serif;
font-optical-sizing: auto;
font-weight: 500;
font-style: normal;
font-size: 30px;
}
.news-item{
font-family: "Oswald", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal
}
#upcoming-games{
    font-size: 50px;
    color: rgb(10, 10, 10);
    padding: 20px;
    border: 0px ;
    border-radius: 10px;
    width: 550px; 
    margin-left: none; 
    background-color: #FFFFFF;
    box-shadow: 0 4px 6px rgba(0,0,0,0.05);
    font-family: "Roboto Slab", serif;
}
.fixture{
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-top: 20px; 
    font-size: 25px;
    
}
#fix1{
    border: 0px;
    border-radius: 15px;
    width: 550px;
    padding: 10px;
    flex-direction: column;
    display: flex;
    gap: 20px; 
    margin-left: 0px;
    background-color: #FFFFFF;
    box-shadow: 0 4px 6px rgba(0,0,0,0.05);
    font-family:"Oswald", sans-serif ;
    font-size: 30px;
    text-shadow: rgb(199, 193, 193) 2px 2px 2px;
    font-weight: 600;
    
    
}
.more-games a{
    display: block;
    text-decoration: none;
    color: black;
    font-size: 20px;
    margin-top: 20px;
}
.more-games a:hover{
    cursor: pointer;
}
#fix1 img{
    width: 100%;
    height: auto;
    object-fit: cover;
    border-radius: 10px;
    padding-right: 35px;
    
}
.bmark{
  position: fixed;
  right: 20px;
  bottom: 20px;
  background: rgba(146, 128, 114, 0.425);
  color: rgb(15, 15, 15);
  padding: 12px 18px;
  border-radius: 30px;
  text-decoration: none;
  font-weight: bold;
}
#bookmark2{
    font-size: 50px;
    color: rgb(10, 10, 10);
    padding: 20px;
    border: 0px ;
    border-radius: 10px;
    width: 550px; 
    margin-left: none; 
    background-color: #FFFFFF;
    box-shadow: 0 4px 6px rgba(0,0,0,0.05);
    font-family: "Roboto Slab", serif;

}
.footer{
    text-align: center;
    font-size: 15px;
    background-image: url(https://a57.foxsports.com/statics.foxsports.com/www.foxsports.com/content/uploads/2023/05/1408/814/05.31.23_List-of-NBA-Champs_Horizontal.jpg?ve=1&tl=1);
    background-size: cover;
    background-position: center;
    background-blend-mode: multiply;
    background-color: rgba(0, 0, 0, 0.678);
    color: white;
    text-shadow: black 1px 1px 4px;
    font-weight: 900;
    overflow: hidden;
}
