body{
    background-color: #f4f4f4;
}
.tix-head{
    font-family: 'Bungee', cursive;
    color: rgb(5, 5, 5);
    text-align: justify;
    margin-top: 20px;
    border-radius: 15px;
    margin-bottom: 35px;
    background-color: ;
}
.game1{
    font-family: 'Roboto Slab', serif;
    color:white;
    text-align: justify;
    margin-top: 20px;
    background-color:black;
    background-image: url(https://cdn.nba.com/manage/2025/12/GettyImages-2250018756-scaled-e1765157215839.jpg);
    border-radius: 15px;
    padding: 15px;
    font-size: 20px;
    weight:700;
    box-shadow: #0e0d0d 0px 5px 15px;
}
.game1 img{
    width: 100%;
    height: 100%;
    border-radius: 15px;
    margin-top: 10px;
    object-fit: contain;
    
}
.game2{
    font-family: 'Roboto Slab', serif;
    color:rgb(7, 7, 7);
    text-align: justify;
    margin-top: 20px;
    background-color:black;
    background-image: url(https://cdn.nba.com/manage/2022/04/GettyImages-1240290731-scaled-e1651120445896.jpg);
    border-radius: 15px;
    padding: 15px;
    font-size: 20px;
    weight:700;
    box-shadow: #0e0d0d 0px 5px 15px;
}
.game2 img{
    width: 100%;
    height: 100%;
    border-radius: 15px;
    margin-top: 10px;
    object-fit:contain;
}
.game3{
    font-family: 'Roboto Slab', serif;
    color:white;
    text-align: justify;
    margin-top: 20px;
    background-color:black;
    background-image: url(https://www.sportsnet.ca/wp-content/uploads/2020/03/22897394.jpg);
    border-radius: 15px;
    padding: 15px;
    font-size: 20px;
    weight:700;
    box-shadow: #0e0d0d 0px 5px 15px;
}
.game3 img{
    width: 100%;
    height: 100%;
    border-radius: 15px;
    margin-top: 10px;
    object-fit:fill;
}
.game4{
    font-family: 'Roboto Slab', serif;
    color:white;
    text-align: justify;
    margin-top: 20px;
    background-color:black;
    background-image: url(https://s.yimg.com/ny/api/res/1.2/sXEfg1smLVPcJg.DjM0s0A--/YXBwaWQ9aGlnaGxhbmRlcjt3PTEyMDA7aD04MDA7Y2Y9d2VicA--/https://media.zenfs.com/en/sb_nation_articles_115/a8ad19216eb7b340f06a51d24b0d72b7);
    border-radius: 15px;
    padding: 15px;
    font-size: 20px;
    weight:700;
    box-shadow: #0e0d0d 0px 5px 15px;
}
.game4 img{
    width: 100%;
    height: auto;
    border-radius: 15px;
    margin-top: 10px;
    object-fit:cover;
}
.game5{
    font-family: 'Roboto Slab', serif;
    color:white;
    text-align: justify;
    margin-top: 20px;
    background-color:black;
    background-image: url(https://cdn.nba.com/manage/2021/07/giannis-oop.jpg);
    border-radius: 15px;
    padding: 15px;
    font-size: 20px;
    weight:700;
    box-shadow: #0e0d0d 0px 5px 15px;
}
.game5 img{
    width: 100%;
    height: 100%;
    border-radius: 15px;
    margin-top: 10px;
    object-fit:cover;
}
.game6{
    font-family: 'Roboto Slab', serif;
    color:white;
    text-align: justify;
    margin-top: 20px;
    background-color:black;
    background-image: url(https://media.nbcdfw.com/2022/12/GettyImages-1245336171.jpg?quality=85&strip=all&resize=1200%2C675);
    border-radius: 15px;
    padding: 15px;
    font-size: 20px;
    weight:700;
    box-shadow: #0e0d0d 0px 5px 15px;
}
.game6 img{
    width: 100%;
    height: 100%;
    border-radius: 15px;
    margin-top: 10px;
    object-fit:cover;
}
.game7{
    font-family: 'Roboto Slab', serif;
    color:rgb(99, 80, 80);
    text-align: justify;
    margin-top: 20px;
    background-color:black;
    background-image: url(https://cdn.nba.com/manage/2022/11/SAC_MEM_11222022.jpg);
    border-radius: 15px;
    padding: 15px;
    font-size: 20px;
    weight:700;
    box-shadow: #0e0d0d 0px 5px 15px;
}
.game7 img{
    width: 100%;
    height: 100%;
    border-radius: 15px;
    margin-top: 10px;
    object-fit:cover;
}
.game8{
    font-family: 'Roboto Slab', serif;
    color:rgb(253, 252, 252);
    text-align: justify;
    margin-top: 20px;
    background-color:black;
    background-image: url(https://cdn.nba.com/manage/2026/01/GettyImages-2258397415-scaled-e1769481468619.jpg);
    border-radius: 15px;
    padding: 15px;
    font-size: 20px;
    weight:700;
    box-shadow: #0e0d0d 0px 5px 15px;
}
.game8 img{
    width: 100%;
    height: 100%;
    border-radius: 15px;
    margin-top: 10px;
    object-fit:cover;
}
.game9{
    font-family: 'Roboto Slab', serif;
    color:rgb(7, 7, 7);
    text-align: justify;
    margin-top: 20px;
    background-color:black;
    background-image: url(https://cdn.nba.com/manage/2024/11/williams-hawks-110924.jpg);
    border-radius: 15px;
    padding: 15px;
    font-size: 20px;
    weight:700;
    box-shadow: #0e0d0d 0px 5px 15px;
}
.game9 img{
    width: 100%;
    height: 100%;
    border-radius: 15px;
    margin-top: 10px;
    object-fit:cover;
}
.game10{
    font-family: 'Roboto Slab', serif;
    color:rgb(31, 2, 2);
    text-align: justify;
    margin-top: 20px;
    background-color:black;
    background-image: url(https://wallpapers.com/images/featured/aesthetic-nba-ba4w0pe75y02ux5q.jpg);
    border-radius: 15px;
    padding: 15px;
    font-size: 20px;
    weight:700;
    box-shadow: #0e0d0d 0px 5px 15px;
}
.game10 img{
    width: 100%;
    height: 100%;
    border-radius: 15px;
    margin-top: 10px;
    object-fit:fill;
}
.game11{
    font-family: 'Roboto Slab', serif;
    color:rgb(252, 249, 249);
    text-align: justify;
    margin-top: 20px;
    background-color:black;
    background-image: url(https://cdn.nba.com/manage/2022/11/GettyImages-1244389813.jpg);
    border-radius: 15px;
    padding: 15px;
    font-size: 20px;
    weight:700;
    box-shadow: #0e0d0d 0px 5px 15px;
}
.game11 img{
    width: 100%;
    height: 100%;
    border-radius: 15px;
    margin-top: 10px;
    object-fit:fill;
}
.game12{
    font-family: 'Roboto Slab', serif;
    color:rgb(252, 249, 249);
    text-align: justify;
    margin-top: 20px;
    background-color:black;
    background-image: url(https://cdn.nba.com/manage/2024/11/sharpe-driving.jpg);
    border-radius: 15px;
    padding: 15px;
    font-size: 20px;
    weight:700;
    box-shadow: #0e0d0d 0px 5px 15px;
}
.game12 img{
    width: 100%;
    height: 100%;
    border-radius: 15px;
    margin-top: 10px;
    object-fit:fill;
}
.game13{
    font-family: 'Roboto Slab', serif;
    color:rgb(252, 249, 249);
    text-align: justify;
    margin-top: 20px;
    background-color:black;
    background-image: url(https://images2.minutemediacdn.com/image/upload/c_crop,x_0,y_0,w_4229,h_2378/c_fill,w_720,ar_16:9,f_auto,q_auto,g_auto/images/ImagnImages/mmsport/all_pistons/01kaae7bjy2av53ysjwm.jpg);
    border-radius: 15px;
    padding: 15px;
    font-size: 20px;
    weight:700;
    box-shadow: #0e0d0d 0px 5px 15px;
}
.game13 img{
    width: 100%;
    height: 100%;
    border-radius: 15px;
    margin-top: 10px;
    object-fit:fill;
}
.game14{
    font-family: 'Roboto Slab', serif;
    color:#FFD700;
    text-align: justify;
    margin-top: 20px;
    background-color:black;
    background-image: url(https://cdn.nba.com/manage/2024/03/GettyImages-2064220396-scaled.jpg);
    border-radius: 15px;
    padding: 15px;
    font-size: 20px;
    font-weight: 800;
    box-shadow: #0e0d0d 0px 5px 15px;
    
}
.game14 img{
    width: 100%;
    height: 100%;
    border-radius: 15px;
    margin-top: 10px;
    object-fit:fill;
}
.game15{
    font-family: 'Roboto Slab', serif;
    color:#FFD700;
    text-align: justify;
    margin-top: 20px;
    background-color:black;
    background-image: url(https://media.koobit.com/san-antonio-spurs-in-a-team-huddle-v5-4368.jpg);
    border-radius: 15px;
    padding: 15px;
    font-size: 20px;
    weight:800;
    box-shadow: #0e0d0d 0px 5px 15px;
}
.game15 img{
    width: 100%;
    height: 100%;
    border-radius: 15px;
    margin-top: 10px;
    object-fit:fill;
}
.game1, .game2, .game3, .game4, .game5,
.game6, .game7, .game8, .game9, .game10,
.game11, .game12, .game13, .game14, .game15{
    color: #ffffff;
    text-shadow: 1px 1px 4px rgba(0, 0, 0, 0.85);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-blend-mode: multiply;
    background-color: rgba(0, 0, 0, 0.55);
}
#book2{
    position:fixed;
    right:20px;
    bottom:20px;
    color:black;
    font-weight: 900;
    padding: 20px 30px;
    text-decoration: none;
    background-color: rgba(245, 245, 245, 0.568);
    border-radius: 20px;
    width: auto;
}
button{
    background-color: #1D428A;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
.footer{
    text-align: center;
    font-size: 15px;
    background-image: url(https://a57.foxsports.com/statics.foxsports.com/www.foxsports.com/content/uploads/2023/05/1408/814/05.31.23_List-of-NBA-Champs_Horizontal.jpg?ve=1&tl=1);
    background-size: cover;
    background-position: center;
    background-blend-mode: multiply;
    background-color: rgba(0, 0, 0, 0.678);
    color: white;
    text-shadow: black 1px 1px 4px;
    font-weight: 900;
}

