.login{
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: left;
    min-height: 450px;
    width:90%;
    max-width: 500px;
    padding: 40px;
    border-radius:10px;
    align-items: center;
    justify-content: center;
    margin-left:0px;
    background-color: rgba(15,15,25,0.85);
    backdrop-filter: blur(8px);
    color: #FFFFFF;
    box-shadow: 0 10px 30px rgba(0,0,0,0.6), 0 0 15px rgba(60,25,0,0.6);
    font-size: 30px;
    text-align: center;

}
body{
    margin:0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(https://i.vimeocdn.com/video/773327411-359ee1327ead8227dba3d3336318afb2736bb32aee1bfbaf7b065c6c675caf41-d?mw=1920&mh=1080&q=70);
    background-color: rgba(0, 0, 0, 0.445);
    background-blend-mode: multiply;

}
.submitbtn{
    align-content: center;
    cursor: pointer;
    border-radius: 15px;
    border: 0px;
    padding: 10px 20px;
    background-color:#041844 ;
    width: 100%;
    font-size: 20px;
    width: 100%;
}
.others{
    font-size: 20px;
}
#username, #password{
    border-radius: 5px;
}
#log-head{
    text-transform: uppercase;
    font-family: "Oswald", sans-serif;
    font-size: 40px;
    margin-bottom: 20px;
}
input[type="text"], input[type="password"]{
    width: 100%;
    padding: 12px 12px 12px 42px;
    margin-bottom: 20px;
    border: 0px;
    border-radius: 5px;
    font-size: 16px;
}
.input-group{
    position: relative;
    width: 100%;
}
.input-icon{
    position: absolute;
    left: 14px;
    top: 35%;
    transform: translateY(-50%);
    font-size: 16px;
    color: #7d8696;
    pointer-events: none;
}
#log-head img{
    width: 50%;
    height: auto;
    vertical-align: middle;
    align-self: center;
    align-items: center;
    align-content: center;
}

.login img{
    display: block;
    margin: 0 auto 20px;
    width: 70px;
}
.footer{
    text-align: center;
    font-size: 15px;
    background-image: url(https://a57.foxsports.com/statics.foxsports.com/www.foxsports.com/content/uploads/2023/05/1408/814/05.31.23_List-of-NBA-Champs_Horizontal.jpg?ve=1&tl=1);
    background-size: cover;
    background-position: center;
    background-blend-mode: multiply;
    background-color: rgba(0, 0, 0, 0.678);
    color: white;
    text-shadow: black 1px 1px 4px;
    font-weight: 900;
    overflow: hidden;
}