.r1{
    display: flex;
    height: 300px;
    border-radius: 20px;
    width: auto;
    border:0px solid #000;
    padding: 20px;
    font-size: 20px;
    background-color: #FFFFFF;
}
.r1 img{
    width: 200px;
    height: 100%;
    border-radius: 20px;
    object-fit: cover;
    margin-right: 20px;
    flex-shrink: 0;
}
.r1 p{
    flex: 1;
    margin: 0;
    overflow-y: auto;
    font-family: "Smooch Sans", sans-serif;
    font-size: 30px;
}
.r2{
    display: flex;
    height: 300px;
    border-radius: 20px;
    width: auto;
    border:0px solid #000;
    padding: 20px;
    font-size: 20px;
    margin-top: 10px;
    background-color: #FFFFFF;
}
.r2 img{
    width: 200px;
    height: 100%;
    border-radius: 20px;
    object-fit: cover;
    margin-right: 20px;
    flex-shrink: 0;
}
.r2 p{
    flex: 1;
    margin: 0;
    overflow-y: auto;
    font-family: "Smooch Sans", sans-serif;
    font-size: 30px;
}
.r3{
    display: flex;
    height: 300px;
    border-radius: 20px;
    width: auto;
    border:0px solid #000;
    padding: 20px;
    font-size: 20px;
    margin-top: 10px;
    background-color:#FFFFFF ;
}
.r3 img{
    width: 200px;
    height: 100%;
    border-radius: 20px;
    object-fit: cover;
    margin-right: 20px;
    flex-shrink: 0;
}
.r3 p{
    flex: 1;
    margin: 0;
    overflow-y: auto;
    font-family: "Smooch Sans", sans-serif;
    font-size:31px;
}
body{
    background-color: #F3F4F6;
}
#bookmark{
    position:fixed;
    right:20px;
    bottom:20px;
    color:black;
    font-weight: 900;
    padding: 20px 30px;
    text-decoration: none;
    border-radius: 10px;
    background-color:#1d418a3a ;
}

