.r1{
    display: flex;
    height: 300px;
    border-radius: 20px;
    width: auto;
    border:0px solid #000;
    padding: 20px;
    font-size: 20px;
    background-color: #07070765;
    background-image: url(https://ichef.bbci.co.uk/ace/standard/2048/cpsprodpb/f4e5/live/d1a9a990-d8b6-11f0-9580-7d46278afc00.jpg);
    background-size: cover;
    background-position: center;
    background-blend-mode: multiply;
    color: white;
    text-shadow: black 4px 4px 4px;
    font-weight: 600;
}
.r1 img{
    width: 200px;
    height: 100%;
    border-radius: 20px;
    object-fit: cover;
    margin-right: 20px;
    flex-shrink: 0;
}
.r1 p{
    flex: 1;
    margin: 0;
    overflow-y: auto;
    font-family: "Smooch Sans", sans-serif;
    font-size: 30px;
}
.r2{
    display: flex;
    height: 300px;
    border-radius: 20px;
    width: auto;
    border:0px solid #000;
    padding: 20px;
    font-size: 20px;
    margin-top: 10px;
    background-color: #0a0a0a83;
    background: url(https://sixerswire.usatoday.com/gcdn/authoring/authoring-images/2025/07/12/SSIX/84850215007-vj-edgecombe.jpg?crop=4715,2652,x0,y0&width=3200&height=1800&format=pjpg&auto=webp);
    background-size: cover;
    background-position: center;
    background-blend-mode: multiply;
    color: white;
    text-shadow: black 4px 4px 4px;
    font-weight: 600;
}
.r2 img{
    width: 200px;
    height: 100%;
    border-radius: 20px;
    object-fit: cover;
    margin-right: 20px;
    flex-shrink: 0;
}
.r2 p{
    flex: 1;
    margin: 0;
    overflow-y: auto;
    font-family: "Smooch Sans", sans-serif;
    font-size: 30px;
}
.r3{
    display: flex;
    height: 300px;
    border-radius: 20px;
    width: auto;
    border:0px solid #000;
    padding: 20px;
    font-size: 20px;
    margin-top: 10px;
    background-color:#0c0c0c5d ;
    background-image: url(https://ca-times.brightspotcdn.com/dims4/default/2bbc040/2147483647/strip/true/crop/3000x2000+0+0/resize/1200x800!/quality/75/?url=https%3A%2F%2Fcalifornia-times-brightspot.s3.amazonaws.com%2F8a%2F85%2F04c9bed341b19b2ea1c2e005e2b6%2F1213378-sp-1110-mccain-3-rcg.jpg);
    background-size: cover;
    background-position: center;
    background-blend-mode: multiply;
    color: white;
    text-shadow: black 4px 4px 4px;
    font-weight: 600;
    margin-bottom: 2px;
}
.r3 img{
    width: 200px;
    height: 100%;
    border-radius: 20px;
    object-fit: cover;
    margin-right: 20px;
    flex-shrink: 0;
}
.r3 p{
    flex: 1;
    margin: 0;
    overflow-y: auto;
    font-family: "Smooch Sans", sans-serif;
    font-size:31px;
}
.r4{
    display: flex;
    height: 300px;
    border-radius: 20px;
    width: auto;
    border:0px solid #000;
    padding: 20px;
    font-size: 20px;
    margin-top: 10px;
    background-color:#0c0c0c5d ;
    background-image: url(https://cdn.nba.com/manage/2026/02/Cooper_Flagg_2_1920x1080.jpg);
    background-size: cover;
    background-position: center;
    background-blend-mode: multiply;
    color: white;
    text-shadow: black 4px 4px 4px;
    font-weight: 600;
    margin-bottom: 2px;
}
.r4 img{
    width: 200px;
    height: 100%;
    border-radius: 20px;
    object-fit: cover;
    margin-right: 20px;
    flex-shrink: 0;
}
.r4 p{
    flex: 1;
    margin: 0;
    overflow-y: auto;
    font-family: "Smooch Sans", sans-serif;
    font-size: 30px;
}
.r5{
    display: flex;
    height: 300px;
    border-radius: 20px;
    width: auto;
    border:0px solid #000;
    padding: 20px;
    font-size: 20px;
    margin-top: 10px;
    background-color:#0c0c0c5d ;
    background-image: url(https://cdn.nba.com/manage/2025/11/GettyImages-2244386178.jpg);
    background-size: cover;
    background-position: center;
    background-blend-mode: multiply;
    color: white;
    text-shadow: black 4px 4px 4px;
    font-weight: 600;
    margin-bottom: 2px;
}
.r5 img{
    width: 200px;
    height: 100%;
    border-radius: 20px;
    object-fit: cover;
    margin-right: 20px;
    flex-shrink: 0;
}
.r5 p{
    flex: 1;
    margin: 0;
    overflow-y: auto;
    font-family: "Smooch Sans", sans-serif;
    font-size: 30px;
}
body{
    background-color: #F3F4F6;
}
#bookmark{
    position:fixed;
    right:20px;
    bottom:20px;
    color:black;
    font-weight: 900;
    padding: 20px 30px;
    text-decoration: none;
    border-radius: 10px;
    background-color:#1d418a3a ;
}
.footer{
    text-align: center;
    font-size: 15px;
    background-image: url(https://a57.foxsports.com/statics.foxsports.com/www.foxsports.com/content/uploads/2023/05/1408/814/05.31.23_List-of-NBA-Champs_Horizontal.jpg?ve=1&tl=1);
    background-size: cover;
    background-position: center;
    background-blend-mode: multiply;
    background-color: rgba(0, 0, 0, 0.678);
    color: white;
    text-shadow: black 1px 1px 4px;
    font-weight: 900;
    overflow: hidden;
}

