body{
    background-color: #F5F5F5;
    color:  #0e0e0e;
}
#ppg,
#tppg{
    font-family: "Fjalla One", sans-serif;
    font-weight: 600;
    font-style: normal;
    font-size: 30px;
    margin-bottom: 10px;
    border-bottom: 2px solid #1414146b;
    padding: 10px;
    color: black;
    padding: 10px;
}
#rpg,
#apg,
#trpg,
#tapg{
    font-family: "Fjalla One", sans-serif;
    font-weight: 600;
    font-style: normal;
    font-size: 30px;
    margin-bottom: 10px;
    border-bottom: 2px solid #374151;
    padding: 10px;
    color: black;
}
table{
    width: 100%;
}
td:last-child{
    text-align: right;
}
.stat1{
    border-radius: 15px;
    padding: 15px;
    font-size: 20px;
    font-weight: 800;
    font-family: "Cormorant Garamond", serif;
    font-optical-sizing: auto;
    font-style: normal;

}
.stat2,
.stat3,
.stat4,
.stat5,
.stat6{
    border-radius: 15px;
    padding: 15px;
    font-size: 20px;
    font-weight: 800;
    font-family: "Cormorant Garamond", serif;
    font-optical-sizing: auto;
    font-style: normal;
}
.footer{
    text-align: center;
    font-size: 15px;
    background-image: url(https://a57.foxsports.com/statics.foxsports.com/www.foxsports.com/content/uploads/2023/05/1408/814/05.31.23_List-of-NBA-Champs_Horizontal.jpg?ve=1&tl=1);
    background-size: cover;
    background-position: center;
    background-blend-mode: multiply;
    background-color: rgba(0, 0, 0, 0.678);
    color: white;
    text-shadow: black 1px 1px 4px;
    font-weight: 900;
    overflow: hidden;
}
.mid{
    color:#2a2a2b60;
}
#bookmark{
    position:fixed;
    right:20px;
    bottom:20px;
    color: rgb(14, 13, 13);
    font-weight: 900;
    padding: 20px 30px;
    text-decoration: none;
    border-radius: 30px;
    background-color: #615f5f1e;
    font-size: 15px;
    width: fit-content;
}

