.t1{
    padding: 10px;
    border-radius: 10px;
    background-image:url(https://platform.sbnation.com/wp-content/uploads/sites/2/chorus/uploads/chorus_asset/file/9878167/867254292.jpg.jpg?quality=90&strip=all&crop=0.5,0,99,100);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-blend-mode: multiply;
    background-color: #11111193;
    color:#FEC524;
    font-family: "Shadows Into Light", cursive;
    font-weight: 900;
    font-style: normal;
    font-size: 25px;
    text-shadow: #111111 1px 0 10px;
    

}
.t1 img{
    width: 200px;
    height: auto;
    object-fit: cover;
    margin-right: 20px;
    
}
.t2{
    border: 1px solid black;
    padding: 10px;
    border-radius: 10px;
    margin-top: 15px;
    background-color: #11111193;
    background-image: url(https://miro.medium.com/v2/resize:fit:1400/1*X_UUsGlQGQHz3k0kVYAHOw.jpeg);
    background-size: cover;
    background-position: center;
    background-blend-mode: multiply;
    color:#FDB927;
    font-family: "Shadows Into Light", cursive;
    font-weight: 400;
    font-style: normal;
    font-size: 25px;
    text-shadow: #111111 1px 0 10px;
    font-weight: 900;

}
.t2 img{
    width: 200px;
    height: auto;
    object-fit: cover;
    margin-right: 20px;
    
}
.t3{
    padding: 10px;
    border-radius: 10px;
    margin: 5px;
    background-color: #11111193;
    background-image: url(https://i.guim.co.uk/img/media/c0b2e63817d1efa70045451d436b8a55ba3b6612/0_127_5916_3550/master/5916.jpg?width=1200&quality=85&auto=format&fit=max&s=8fca5c6d2a4de0a9afa62a2df0b4dbec);
    background-size: cover;
    background-position: center;
    background-blend-mode: multiply;
    color:#FFC72C;
    font-family: "Shadows Into Light", cursive;
    font-weight: 900;
    font-style: normal;
    font-size: 25px;
    margin-top: 15px;
    text-shadow: #111111 1px 0 10px;
    

}
.t3 img{
    width: 150px;
    height: auto;
    object-fit: cover;
    margin-right: 20px;
    
}
.t4{
    padding: 10px;
    border-radius: 20px;
    margin-top: 15px;
    background-color: #11111193;
    background-image: url(https://slamonline.com/wp-content/uploads/2022/04/1920x1280-grizzlies-3.jpg);
    background-size: cover;
    background-position: center;
    background-blend-mode: multiply;
    color:#5D76A9;
    font-family: "Shadows Into Light", cursive;
    font-weight: 400;
    font-style: normal;
    font-size: 25px;
    text-shadow: #111111 1px 0 10px;
    font-weight: 900;
    

}
.t4 img{
    width: 200px;
    height: auto;
    object-fit: cover;
    margin-right: 20px;
    
}
.t5{
    padding: 10px;
    border-radius: 20px;
    margin-top: 15px;
    font-family: "Shadows Into Light", cursive;
    font-weight: 400;
    font-style: normal;
    font-size: 25px;
    background-color: #11111193;
    background-image: url(https://pbs.twimg.com/media/CrxA8q4XYAAxcWm.jpg);
    background-size: cover;
    background-position: center;
    background-blend-mode: multiply;
    text-shadow: #111111 1px 0 10px;
    color: #0053BC;
    font-weight: 900;
    

}
.t5 img{
    width: 200px;
    height: auto;
    object-fit: cover;
    margin-right: 20px;
    
}
.t6{
    padding: 10px;
    border-radius: 20px;
    margin-top: 15px;
    background-color: #11111193;
    background-image: url(https://cdn.nba.com/teams/uploads/sites/1610612762/2022/10/GettyImages-1435999818.jpg);
    background-size: cover;
    background-position: center;
    background-blend-mode: multiply;
    color:#FCEE0C ;
    font-family: "Shadows Into Light", cursive;
    font-weight: 400;
    font-style: normal;
    font-size: 25px;
    font-weight: 900;
    text-shadow: #111111 1px 0 10px;

    

}
.t6 img{
    width: 200px;
    height: auto;
    object-fit: cover;
    margin-right: 20px;
    
}
.t7{
    padding: 10px;
    border-radius: 20px;
    margin-top: 15px;
    background-color: #11111193;
    background-image: url(https://cdn.nba.com/teams/uploads/sites/1610612757/2024/09/training_756_092924.jpg);
    background-size: cover;
    background-position: center;
    background-blend-mode: multiply;
    color: #E03A3E;
    font-family: "Shadows Into Light", cursive;
    font-style: normal;
    font-size: 25px;
    font-weight: 900;
    text-shadow: #111111 1px 0 10px;
}
.t7 img{
    width: 200px;
    height: auto;
    object-fit: cover;
    margin-right: 20px;
    
}
.t8{
    padding: 10px;
    border-radius: 20px;
    margin-top: 15px;
    font-family: "Shadows Into Light", cursive;
    font-weight: 400;
    font-style: normal;
    font-size: 25px;
    background-color: #11111193;
    background-image: url(https://cdn.nba.com/teams/legacy/www.nba.com/suns/sites/suns/files/support.jpg);
    background-size: cover;
    background-position: center;
    background-blend-mode: multiply;
    color:#E56020 ;
    font-weight: 900;
    text-shadow: #111111 1px 0 10px;
    

}
.t8 img{
    width: 200px;
    height: auto;
    object-fit: cover;
    margin-right: 20px;
    
}
body{
    background:#F3F4F6;
}
#bookmark{
    position:fixed;
    right:20px;
    bottom:20px;
    color: rgb(252, 252, 252);
    font-weight: 900;
    padding: 20px 30px;
    text-decoration: none;
    border-radius: 30px;
    background-color:#f3f4f733 ;
}
.header{
    font-family: "Bungee", sans-serif;
    font-size: 50px;
    background-color: #ffffffe3;
    margin-bottom: 7px;
    border-radius: 20px;
    padding: 10px;
    font-weight: 500;
    color:rgb(10, 10, 10);
}
.footer{
    text-align: center;
    font-size: 15px;
    background-image: url(https://a57.foxsports.com/statics.foxsports.com/www.foxsports.com/content/uploads/2023/05/1408/814/05.31.23_List-of-NBA-Champs_Horizontal.jpg?ve=1&tl=1);
    background-size: cover;
    background-position: center;
    background-blend-mode: multiply;
    background-color: rgba(0, 0, 0, 0.678);
    color: rgb(255, 255, 255);
    text-shadow: black 1px 1px 4px;
    font-weight: 900;
}

